/*
general12.css
Auteur: Quentin Perruchet
Date: 18/01/2020
Version: 1.1

Feuille de style  contenant toutes les propriétés CSS pour tablettes et mobiles. 
*/

body {
	background-color: white;
}

 /*La div de l'image, qui sert au potisionnement*/
.img{
	width: 250px;
}

/*l'id de l'image qui permet de lui définir une taille et une bordure*/
#photoQuentinPerruchet{
	width: 180px;
	height: 180px;
	border: 3px solid black;
}

/*le nom dans le strong, pour placer le block du nom*/
#nom{
	display: block;
}

/*définition de la taille et la police d'écriture du bloc du nom*/
strong{
	font-weight: bold;
	font-size: 40px;
	margin-left: 300px;
}

/*définition des caractéristiques du bloc en bleu clair ( aside) */
aside{
	background-color: lightblue;
	display: inline-flex;
	align-items: baseline;
}

/*pour les span dans l'aside (placement des contact) */
aside span{
	display: block;
}
/*Pour les titres de rubriques du bloc droit*/
em{
	margin-left: 1.5em;
	font-size: 1.5em;
}
/*pour le prénom dans le bloc nom en haut, définition d'une couleur différente*/
#prenom{
	color: lightblue;
}
/*titres dans la section droite*/
h1 {
	color: blue;
	font-weight: bold;
	font-size: 1.5em;
}
/*titre de l'aside, bloc gauche*/
h2 {
	color:red;
	font-weight: bold;
	font-size: 2em;
}

/*Pour tous les paragraphes*/
p {
	font-family: monospace;
	font-size: 20px;
}

/*pour ce que j'ai fais*/
.intituleParcours{
	color: teal;
	font-size: 30px;
	font-weight: bold;
	margin-left: 100px;
}

/*les dates de ce que j'ai fais*/
.dateParcours{
	color: teal;
	font-size: 25px;
	font-weight: bold;
}
