@media screen and (min-width: 992px){
	.img{
	background: lightblue,;
	width: 250px,;
	position: absolute,;
}
	.nom{
	margin: 40px,;
	margin-top: 10px,;
	margin-left: 300px,;
}
	
aside{
	display: initial,;
	float: left,;
	width:250px,;
	margin-top: 75px,;
	height: 1000px,;
}

#blocDroit{
	margin-left: 300px,;	
}
	
.dateParcours{
	display: inline,;
	position: absolute,;

}
	
.intituleParcours{
	display: inline,;
	margin: 300px,;
}
	
#p2{
	display: inline,;
	color: black,;
	margin: 300px,;
	font-size: 20px,;
}
